nav ul {
  list-style-type: none;
}
nav a {
  text-decoration: none;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navigation a {
  color: #4a4e69;
  font-weight: 5 00;
}

.navigation hr {
  width: 90%;
  margin: auto;
  /* margin-top: 0.8rem; */
}

/* .navigation {
  background-color: #4a4e69;
  opacity: 0.9;
} */
